@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center container">
    <div class="row py-md-5 py-sm-3">
        <div class="col-lg-6 col-mg-8 mx-auto">
            <h1 class="fw-light"> POKEDÉX</h1>
        </div>
    </div>
</section>

<div class="pb-5">
    <div class="container">
       <p class="text-center tipo">
           @foreach (var tipo in ViewBag.Tipos)
           {
               <a asp-page="Index" asp-route-Tipo="@tipo" class="btn tipo-@tipo mr-2">@tipo</a>
           }
           <a asp-page="Index" class="btn btn-secondary">Ver todos</a>
       </p>     
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            <!--Cards-->
            @foreach (var pokemon in Model.ListaPokemon)
            {           
            <div class="col">
                <div class="card shadow-sm">
                    <a asp-page="Pokemon" asp-route-numero="@pokemon.Numero">
                        <img src="@Url.Content(pokemon.Imagem)" class="card-img-top" alt="@pokemon.Nome">
                        <div class="card-body">
                            <p>Nº @pokemon.Numero</p>
                            <h4 class="card-title">@pokemon.Nome</h4>
                            <div class="tipo mt-3">
                                @foreach (var tipo in pokemon.Tipo)
                                {
                                    <a asp-page="/Index" asp-route-Tipo="@tipo" class="btn btn-sm tipo-@tipo">@tipo</a>
                                }                                                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</div>