@page
@model Pokedex.Pages.PokemonModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container pb-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="fw-light mt-5 mb-5">
                @if (Model.Anterior !=null)
                {
                    <a class="btn btn-lg btn-outline-dark float-left" asp-page="/Pokemon" asp-route-numero="@Model.Anterior.Numero">
                        Nº @Model.Anterior.Numero.ToString("000") @Model.Anterior.Nome 
                    </a>
                }
                <strong>@Model.Pokemon.Nome - Nº @Model.Pokemon.Numero </strong>
                @if (Model.Proximo !=null)
                {
                    <a class="btn btn-lg btn-outline-dark float-right" asp-page="/Pokemon" asp-route-numero="@Model.Proximo.Numero">
                        Nº @Model.Proximo.Numero.ToString("000") @Model.Proximo.Nome 
                    </a>   
                }
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid" src="@Url.Content(Model.Pokemon.Imagem)" alt="@Model.Pokemon.Nome">
        </div>
        <div class="col-lg-6">
            <label class="mt-5 text-justify">@Model.Pokemon.Descricao </label>
            <hr>
            <label class="titulo w-25">Categoria</label><label>@Model.Pokemon.Especie</label>
            <hr>
            <label class="titulo w-25">Altura</label><label>@Model.Pokemon.Altura</label>
            <hr>
            <label class="titulo w-25">Peso</label><label>@Model.Pokemon.Peso</label>
            <hr>

            <div class="tipo mt-2">
                <label class="titulo w-25">Tipo</label>
                @foreach (var tipo in Model.Pokemon.Tipo)
                {
                    <a href="#" class="btn btn-lg tipo-@tipo">@tipo</a>
                }
            </div>
        </div>
    </div>
</div>
